/*----------------------------------*/
/*-- Page de CV du portfolio (CSS) --*/
/*----------------------------------*/

/* Corps de la page et fond principal */
body {
    font-family: 'Montserrat', sans-serif;
    /*↳ On initialise les polices d'écriture */
    color: #fff;
    /*↳ On initialise la couleur d'écriture */
    background: url('fondnoir.webp') no-repeat center center fixed;
    /*↳ On initialise le fond d'écran de la page */
    background-size: cover;
    /*↳ On fait en sorte que le fond d'écran recouvre la totalité de la page */
    margin: 0;
    /*↳ On fait en sorte que la page couvre tout l'écran */
}

/*----------*/
/*-- NAVBAR --*/
/*----------*/
/* Navbar de menu paramètres globaux */
nav {
    display: flex;
    /*↳ On rend la barre de menu flexible et maniable */
    justify-content: center;
    /*↳ On centre les éléments enfants présents dans la navbar (liste ul) */
    background-color: rgb(0, 0, 0);
    /*↳ On met un fond noir à la navbar */
    position: fixed;
    /*↳ On fixe la navbar pour pouvoir dérouler la page sans qu'elle ne bouge */
    width: 100vw;
    /*↳ On couvre toute la largeur (horizontal) de la page avec la navbar */
    top: 0;
    /*↳ On positionne la navbar au plus haut possible */
    z-index: 1;
    /*↳ On positionne la navbar au premier plan */
    border-bottom: white double;
    /*↳ On met une bordure inférieure double à la navbar */
}

/* Navbar de menu ensemble de la liste interne (ul) */
nav ul {
    display: flex;
    /*↳ On rend la liste de menu flexible et maniable */
    list-style: none;
    /*↳ On retire les puces des éléments de la liste */
    flex-wrap: wrap;
    /*↳ On fait en sorte que s'il n'y a plus de place les éléments sautent une ligne */
    padding-left: 0;
    /*↳ On retire l'indentation automatique de la liste */
    justify-content: center;
    /*↳ On centre les éléments de la liste dans la liste elle-même (ul) (Utile pour responsive) */
}

/* Navbar de menu texte interne (liens vers autres pages) */
nav ul li a {
    color: white;
    /*↳ On change la couleur des textes (liens) en blanc pour éviter la configuration automatique de couleur des liens */
    text-decoration: none;
    /*↳ On retire le soulignage */
    font-weight: bold;
    /*↳ On met les liens en gras */
    padding-inline: 1.5vw;
    /*↳ On met un écart horizontal entre les éléments */
    transition: all 0.3s ease-in-out;
    /*↳ On paramètre l'animation et le temps d'exécution de celle-ci lors du survol des éléments */
}

/* Navbar de menu lors du survol des éléments (liens) avec la souris */
nav ul li a:hover {
    color: #007bff;
    /*↳ On met une couleur aux liens lors du survol de ceux-ci */
}

/*--------------------*/
/*-- CORPS DE LA PAGE --*/
/*--------------------*/

/* Paramétrage de l'effet de monter*/
@keyframes monterFlou {
    from {
        opacity: 0;
        transform: translateY(2vw);
    }
    to {
        opacity: 1;
        transform: translateY(0vw);
    }
}
/* Paramètres de style pour le titre principal */
#titre {
    background: linear-gradient(90deg, #000, #222);
    /* ↳ On applique un dégradé discret du noir au gris foncé pour donner de la profondeur au fond */
    padding: 1vw 2vw;
    /* ↳ On ajoute des marges internes équilibrées pour un espace bien défini autour du texte */
    font-size: 3vw;
    /* ↳ On ajuste la taille du texte pour s'adapter à la largeur de l'écran (responsive) */
    color: #007bff;
    /* ↳ On utilise un bleu vif pour mettre en avant le titre et attirer l'œil */
    text-shadow: 1px 1px 2px #fff, 0 0 5px #007bff;
    /* ↳ On ajoute une ombre blanche légère et un effet lumineux bleu pour une meilleure lisibilité */
    border: 2px solid #007bff;
    /* ↳ On encadre le texte avec une bordure fine de couleur bleue, assortie au texte */
    border-radius: 100vw;
    /* ↳ On adoucit légèrement les coins pour un aspect plus moderne et moins rigide */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    /* ↳ On ajoute une ombre discrète pour détacher le titre de l'arrière-plan */
    text-align: center;
    /* ↳ On centre le texte horizontalement pour une présentation harmonieuse */
    font-family: 'Arial', sans-serif;
    /* ↳ On utilise une police sobre et professionnelle pour garantir une lecture claire */
    margin: 5vw auto 2vw auto;
    /* ↳ On centre le titre avec une marge équilibrée tout autour pour un alignement parfait et on ajoute une marge supérieure et inférieure pour aéré*/
    max-width: 90%;
    /* ↳ On limite la largeur maximale du texte pour éviter les débordements sur les petits écrans */
    animation: monterFlou 1s ease-out;
    /* ↳ On attribut une animation lors du lancement de la page*/
}

/*Paramètres de l'image de profil présente dans la sous-section "photo"*/
#photo img {
    width: 20vw;
    /*↳ On attribue une largeur proportionnelle à la hauteur de l'image*/
    height: 20vw;
    /*↳ On attribue une hauteur proportionnelle à la largeur de l'image*/
    border-radius: 50%;
    /*↳ On applique un arrondi complet pour obtenir des bords parfaitement ronds*/
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    /*↳ On ajoute une ombre à l'image pour lui donner de la profondeur*/
    transition: all 0.3s ease-in-out;
    /*↳ On applique une transition fluide sur tous les changements de propriétés*/
    border: #007bff double 8px;
    /*↳ On applique une bordure double de 8px autour de l'image*/
}

/*Survol de l'image de profil*/
#photo img:hover {
    transform: scale(1.05) rotate(360deg);
    /*↳ On effectue un zoom de 5% et une rotation complète (360°) sur l'image*/
    z-index: -1;
    /*↳ On recule l'image au plan -1 pour qu'elle soit derrière la navbar*/
    box-shadow: 0 0 15px white;
    /*↳ On ajoute une ombre blanche autour de l'image au survol*/
}

/*Paramètres des liens présents dans la section globale de CV*/
#cvGlob a {
    color: white;
    /*↳ On met les liens en blanc*/
    font-style: italic;
    /*↳ On met les liens en italique*/
    transition: all 0.5s ease-in-out;
    /*↳ On configure les transitions lors du survol des liens*/
    text-decoration: none;
    /*↳ On retire le soulignement par défaut des liens*/
}

/*Survol des liens présents dans la section CV*/
#cvGlob a:hover {
    text-shadow: 2px 2px 2px white;
    /*↳ On ajoute une ombre au texte lors du survol du lien*/
}

/*Paramètres de la box globale contenant toutes les infos du CV*/
#cvGlob {
    text-align: center;
    /*↳ On aligne le texte au centre de la boîte*/
    margin: auto 10vw ;
    /*↳ On applique des marges sur chaque côté de la boîte pour la séparer du corps de la page*/
    font-size: 130%;
    /*↳ On met par défaut tous les textes de la boîte à 130% de leur taille actuelle*/
    border-radius: 3vw;
    /*↳ On applique des bords arrondis à la boîte*/
    padding: 1vw;
    /*↳ On ajoute un écart entre le bord de la boîte et son contenu*/
    transition: transform 0.5s ease-in-out, background-color 0.5s;
    /*↳ On configure les transitions pour les transformations et le changement de couleur de fond*/
    animation: monterFlou 1s ease-out;
    /* ↳ On attribut une animation lors du lancement de la page*/
}

/*Survol de la box globale*/
#cvGlob:hover {
    transform: translateY(-1vw) scale(1.01);
    /*↳ On déplace la boîte légèrement vers le haut et on effectue un léger zoom dessus*/
    background-color: #007bff46;
    /*↳ On applique un fond à la boîte avec une couleur légèrement transparente*/
    border: double white;
    /*↳ On applique une bordure double blanche à la boîte*/
}


/*Paramètres de la liste globale de la section cvGlob*/
#cvGlob ul {
    list-style: none;
    /*↳ On retire les puces de la liste*/
    padding: 0;
    /*↳ On retire l'indentation par défaut des listes*/
}

/*Paramètres des titres de chaque sous-section*/
#cvGlob h4 {
    background: linear-gradient(90deg, #000, #222);
    /*↳ On applique un fond dégradé de couleur*/
    color: white;
    /*↳ On met le texte en blanc*/
    border-radius: 20vw;
    /*↳ On arrondit les bords des titres de sous-section*/
    font-weight: bold;
    /*↳ On met ces titres en gras*/
    padding: 1vw;
    /*↳ On ajoute un écart entre le texte et la bordure*/
    border: #007bff double;
    /*↳ On applique une bordure double de couleur bleue*/
    transition: all 0.5s ease-in-out;
    /*↳ On configure les transitions pour le survol des sous-titres*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    /*↳ On ajoute une ombre portée sombre autour de la boîte du sous-titre*/
    text-transform: uppercase;
    /*↳ On met le texte en majuscules*/
}

/*Survol des sous-titres de sections*/
#cvGlob h4:hover {
    transform: scale(0.95);
    /*↳ On réduit légèrement la taille de la boîte du titre au survol*/
    color: red;
    /*↳ On met le texte en rouge au survol*/
}

/*Paramètres de mise en uniformité de la section langues et de la section qualités*/
#langues ul, #qualités ul {
    display: flex;
    /*↳ On rend les éléments flexibles*/
    flex-direction: row;
    /*↳ On aligne les éléments en ligne*/
    justify-content: space-around;
    /*↳ On équilibre l'espace entre chaque élément de la liste et les bordures de la boîte pour que cet espace soit équitable*/
    flex-wrap: wrap;
    /*↳ On passe les éléments à la ligne s'il n'y a plus de place*/
}

/*Paramètres de la liste de cursus scolaire*/
#cursus-scolaire ul {
    display: flex;
    /*↳ On rend les éléments flexibles*/
    font-size: 80%;
    /*↳ On réduit la taille du texte à 80% de sa taille par défaut*/
    flex-direction: column;
    /*↳ On dispose automatiquement les éléments de la liste en colonnes les uns sous les autres*/
    flex-wrap: wrap;
    /*↳ On passe les éléments à la ligne s'il n'y a plus de place*/
}

/*Paramètres des éléments de la liste de cursus scolaire*/
#cursus-scolaire ul li {
    border: double white;
    /*↳ On applique une bordure double à chaque boîte/élément de liste*/
    transition: all 0.5s ease-in-out;
    /*↳ On configure une transition fluide lors du survol des boîtes/éléments de liste*/
    margin: 1vw;
    /*↳ On ajoute une marge entre chaque boîte et la bordure principale de la boîte*/
    background-color: #007bff60;
    /*↳ On applique un fond de couleur légèrement transparent*/
    padding: 1vw;
    /*↳ On ajoute un espace entre le contenu de la boîte et ses bords*/
}

/*Survol des éléments de la liste de cursus scolaire*/
#cursus-scolaire ul li:hover {
    border-radius: 1vw;
    /*↳ On arrondit les bords des boîtes*/
    background-color: rgba(255, 0, 0, 0.274);
    /*↳ On applique un fond de couleur légèrement transparent*/
}

/*Paramètres des titres des établissements des cursus scolaires*/
#cursus-scolaire ul li h5 {
    font-size: 150%;
    /*↳ On agrandit les titres des établissements à 150% de leur taille par défaut*/
    margin: 1vw;
    /*↳ On réduit légèrement la marge par rapport à la valeur par défaut pour limiter l'écart entre le titre et le reste du texte*/
}

/*Paramètres des années de fréquentation des établissements des cursus scolaires*/
#cursus-scolaire ul li h6 {
    font-size: 110%;
    /*↳ On agrandit les dates de fréquentation des établissements à 110% de leur taille par défaut*/
    margin: 1vw;
    /*↳ On réduit légèrement la marge par rapport à la valeur par défaut pour limiter l'écart entre la date et le reste du texte*/
}

/*Paramètres de la liste globale des différentes compétences informatiques*/
#competences-informatiques ul {
    display: flex;
    /*↳ On rend les éléments de la liste flexibles*/
    flex-direction: row;
    /*↳ On aligne les éléments de la liste sur une seule ligne*/
    flex-wrap: wrap;
    /*↳ On fait passer les éléments de la liste à la ligne suivante s'il n'y a plus d'espace sur la ligne*/
    justify-content: center;
    /*↳ On centre l'ensemble des éléments de la liste*/
}

/*Paramètres des éléments de la liste*/
#competences-informatiques ul li {
    padding-inline: 1vw;
    /*↳ On espace les différents éléments de la liste horizontalement*/
}

/*Paramètres globaux de la barre de progression*/
progress {
    display: flex;
    /*↳ On rend la barre de progression flexible*/
    width: 25vw;
    /*↳ On définit la largeur de la barre de progression*/
    margin: 1vw auto;
    /*↳ On espace verticalement les éléments et centre horizontalement la barre*/
    border-radius: 1vw;
    /*↳ On arrondit les bords de la barre*/
}

/*Barre de progression dans les navigateurs basés sur WebKit (Safari, Chrome, etc.)*/
progress::-webkit-progress-bar {
    background-color: #d0e7ff; 
    /*↳ On applique une couleur de fond pour la zone vide de la barre*/
    border-radius: 0.9vw; 
    /*↳ On arrondit les bords de la zone vide de la barre*/
}

/*Barre de progression remplie dans WebKit*/
progress::-webkit-progress-value {
    background-color: #007bff; 
    /*↳ On applique une couleur de fond à la partie remplie de la barre*/
    border-radius: 0.9vw; 
    /*↳ On arrondit les bords de la partie remplie de la barre*/
    transition: all 0.3s ease; 
    /*↳ On paramètre la transition pour le survol*/
}

/*Barre de progression remplie dans Firefox*/
progress::-moz-progress-bar {
    background-color: #007bff; 
    /*↳ On applique une couleur de fond à la partie remplie*/
    border-radius: 0.9vw; 
    /*↳ On arrondit les bords de la partie remplie*/
    transition: all 0.3s ease; 
    /*↳ On paramètre la transition pour le survol de la partie remplie*/
}

/*Survol de la partie remplie dans les navigateurs basés sur WebKit*/
progress:hover::-webkit-progress-value {
    background-color: #ff0000; 
    /*↳ On change la couleur de fond de la partie remplie au survol*/
}

/*Survol de la partie remplie dans Firefox*/
progress:hover::-moz-progress-bar {
    background-color: #ff0000; 
    /*↳ On change la couleur de fond de la partie remplie au survol*/
}

/*----------------*/
/*--PIED DE PAGE--*/
/*----------------*/

/* Pied de page paramètres globaux */
footer {
    background-color: rgb(0, 0, 0);
    /*↳ On met un fond de couleur pour le pied de page */
    color: white;
    /*↳ On attribue une couleur au texte */
    padding: 2vw;
    /*↳ On met un espace (horizontal et vertical) pour un espace plus aéré */
    text-align: center;
    /*↳ On centre le texte */
    max-width: 100vw;
    /*↳ On couvre toute la largeur (horizontal) du pied de page */
    margin-top: 2vw;
    /*↳ On met une marge supérieure pour espacer le footer du contenu de la page */
}

/* Pied de page paramètres liste réseaux sociaux (ul) */
footer #reseaux-sociaux {
    list-style: none;
    /*↳ On retire les puces de liste aux éléments de la liste des réseaux sociaux */
    padding: 0;
    /*↳ On retire l'indentation par défaut des listes */
    display: flex;
    /*↳ On rend les éléments de la liste flexibles pour une adaptation */
    justify-content: center;
    /*↳ On centre les éléments (réseaux sociaux) dans la box */
}

/* Pied de page paramètres éléments réseaux sociaux (li) */
footer #reseaux-sociaux li {
    margin-inline: 2vw;
    /*↳ On met un espace entre les différents éléments pour aérer la présentation */
}

/* Pied de page paramètres liens réseaux sociaux (a) */
footer #reseaux-sociaux a {
    color: #007bff;
    /*↳ On met les liens sociaux dans une couleur en particulier */
    text-decoration: none;
    /*↳ On désactive le soulignage par défaut des liens */
}

/* Pied de page paramètres liens réseaux sociaux (a) au survol */
#footer #reseaux-sociaux a:hover {
    text-decoration: underline;
    /*↳ On souligne les liens survolés */
}

@media only screen and (max-width: 950px) {

    /* Navbar de menu texte interne (liens vers autres pages) */
    nav ul li a {
        margin: 1vw;
        /*↳ On met une marge (horizontal et vertical) plus grande pour améliorer la visibilité des éléments */
        background-color: #fff;
        /*↳ On met un fond de couleur aux éléments pour un effet de bouton */
        color: black;
        /*↳ On met une couleur aux liens */
        border-radius: 2vw;
        /*↳ On met un arrondi des cases "bouton" */
    }

    /* Navbar de menu éléments de liste */
    nav li {
        margin: 0.5vw;
        /*↳ On met une marge (horizontal et vertical) entre les éléments pour une navbar moins "compactée" */
    }

    /* Survol de tous les éléments */
    *:hover {
        text-shadow: none;
        /*↳ On annule les animations de contour de textes */
        transform: none;
        /*↳ On annule les animations de transformation (zoom) */
    }

    /* Paramètres de style pour le titre principal */
    #titre {
        display: none;
    }
    /* Paramètres de style pour le logo de retour en haut */
    #retourHaut{
        display: none;
    }

    /*Paramètres de la box globale contenant toutes les infos du CV*/
    #cvGlob {
        margin-top: 30vw;
        /*↳ On ajoute une marge supérieure pour créer un écart entre la box globale du CV et le haut de la page, et pour éviter que le contenu ne soit placé derrière la navbar*/
    }

    /*Paramètres de l'image de profil présente dans la sous-section "photo"*/
    #photo img {
        width: 60vw;
        /*↳ On attribue une largeur adaptée à la taille de l'écran*/
        height: 60vw;
        /*↳ On ajuste la hauteur proportionnellement à la largeur*/
    }

    /*Paramètres de mise en uniformité de la section langues et de la section qualités*/
    #langues ul, #qualités ul {
        flex-direction: column;
        /*↳ On dispose les éléments de la liste en colonne les uns en dessous des autres, et non en ligne*/
    }

}