/*---------------------------------------*/
/*--Page de presentation personnelle du portfolio (CSS)--*/
/*---------------------------------------*/

/*Corps de la page et fond principal*/
body {
    font-family: 'Montserrat', sans-serif;
    /*↳ On initialise les polices d'écriture*/
    color: #fff;
    /*↳ On initialise la couleur d'écriture*/
    background: url('fondnoir.webp') no-repeat center center fixed;
    /*↳ On initialise le fond d'écran de la page*/
    background-size: cover;
    /*↳ On fait en sorte que le fond d'écran recouvre la totalité de la page*/
    margin: 0;
    /*↳ On fait en sorte que la page couvre tout l'écran*/
}

/*----------*/
/*--NAVBAR--*/
/*----------*/
/*Navbar de menu paramètres globaux*/
nav {
    display: flex;
    /*↳ On rend la barre de menu flexible et maniable*/
    justify-content: center;
    /*↳ On centre les éléments enfants présents dans la navbar (liste ul)*/
    background-color: rgb(0, 0, 0);
    /*↳ On met un fond noir à la navbar*/
    position: fixed;
    /*↳ On fixe la navbar pour pouvoir dérouler la page sans qu'elle ne bouge*/
    width: 100vw;
    /*↳ On couvre toute la largeur (horizontale) de la page avec la navbar*/
    top: 0;
    /*↳ On positionne la navbar au plus haut possible*/
    z-index: 1;
    /*↳ On positionne la navbar au premier plan*/
    border-bottom: white double;
    /*↳ On met une bordure inférieure double à la navbar*/
}

/*Navbar de menu ensemble de la liste interne (ul)*/
nav ul {
    display: flex;
    /*↳ On rend la liste de menu flexible et maniable*/
    list-style: none;
    /*↳ On retire les puces des éléments de la liste*/
    flex-wrap: wrap;
    /*↳ On fait en sorte que s'il n'y a plus de place les éléments sautent une ligne*/
    padding-left: 0;
    /*↳ On retire l'indentation automatique de la liste*/
    justify-content: center;
    /*↳ On centre les éléments de la liste dans la liste elle-même (ul) (Utile pour le responsive)*/
}

/*Navbar de menu texte interne (liens vers autres pages)*/
nav ul li a {
    color: white;
    /*↳ On change la couleur des textes (liens) en blanc pour éviter la configuration automatique de couleur des liens*/
    text-decoration: none;
    /*↳ On retire le soulignement*/
    font-weight: bold;
    /*↳ On met les liens en gras*/
    padding-inline: 1.5vw;
    /*↳ On met un écart horizontal entre les éléments*/
    transition: all 0.3s ease-in-out;
    /*↳ On paramètre l'animation et le temps d'exécution de celle-ci lors du survol des éléments*/
}

/*Navbar de menu lors du survol des éléments (liens) avec la souris*/
nav ul li a:hover {
    color: #007bff;
    /*↳ On met une couleur aux liens lors du survol de ceux-ci*/
}

/*--------------------*/
/*--CORPS DE LA PAGE--*/
/*--------------------*/

/* Paramétrage de l'effet de monter*/
@keyframes monterFlou {
    from {
        opacity: 0;
        transform: translateY(2vw);
    }
    to {
        opacity: 1;
        transform: translateY(0vw);
    }
}

/*Liens présents sur la page*/
#lien {
    transition: all 0.5s ease-in-out;
    /*↳ On donne un temps de "latence" pour que la transition se finalise*/
    color: white;
    /*↳ On met les liens en blanc*/
    font-style: italic;
    /*↳ On met les liens en italique*/
    font-weight: bold;
    /*↳ On met les liens en gras*/
}

/*Survol des liens présents sur la page*/
#lien:hover {
    text-shadow: 2px 2px 2px white;
    /*↳ On donne un effet de profondeur avec des ombres aux liens survolés*/
}

/* Paramètres de style pour le titre principal */
#titre {
    background: linear-gradient(90deg, #000, #222);
    /* ↳ On applique un dégradé discret du noir au gris foncé pour donner de la profondeur au fond */
    padding: 1vw 2vw;
    /* ↳ On ajoute des marges internes équilibrées pour un espace bien défini autour du texte */
    font-size: 3vw;
    /* ↳ On ajuste la taille du texte pour s'adapter à la largeur de l'écran (responsive) */
    color: #007bff;
    /* ↳ On utilise un bleu vif pour mettre en avant le titre et attirer l'œil */
    text-shadow: 1px 1px 2px #fff, 0 0 5px #007bff;
    /* ↳ On ajoute une ombre blanche légère et un effet lumineux bleu pour une meilleure lisibilité */
    border: 2px solid #007bff;
    /* ↳ On encadre le texte avec une bordure fine de couleur bleue, assortie au texte */
    border-radius: 100vw;
    /* ↳ On adoucit légèrement les coins pour un aspect plus moderne et moins rigide */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    /* ↳ On ajoute une ombre discrète pour détacher le titre de l'arrière-plan */
    text-align: center;
    /* ↳ On centre le texte horizontalement pour une présentation harmonieuse */
    font-family: 'Arial', sans-serif;
    /* ↳ On utilise une police sobre et professionnelle pour garantir une lecture claire */
    margin: 5vw auto 2vw auto;
    /* ↳ On centre le titre avec une marge équilibrée tout autour pour un alignement parfait et on ajoute une marge supérieure et inférieure pour aéré*/
    max-width: 90%;
    /* ↳ On limite la largeur maximale du texte pour éviter les débordements sur les petits écrans */
    animation: monterFlou 1s ease-out;
    /* ↳ On attribut une animation lors du lancement de la page*/
}

/*Paramètres de la section globale de présentation avec les informations globales*/
#accueil {
    text-align: center;
    /*↳ On centre le texte et les éléments "<a>" (la photo de profil)*/
    font-size: large;
    /*↳ On agrandit la totalité du texte pour une meilleure visibilité*/
    animation: monterFlou 1s ease-out;
    /* ↳ On attribut une animation lors du lancement de la page*/
}

/*Paramètres des titres h2 de la section "accueil"*/
#intro #NomPrenom {
    font-size: xx-large;
    /*↳ On agrandit la taille du titre h2 (Prénom NOM)*/
    font-style: italic;
    /*↳ On met le titre h2 (Prénom NOM) en italique*/
    color: #007bff;
    /*↳ On modifie la couleur du titre h2 (Prénom NOM)*/
    font-weight: bold;
    /*↳ On met le nom et le prénom en gras*/
}

/*Paramètres de l'image de profil présente dans la sous-section "photo"*/
#accueil #photo img {
    width: 20vw;
    /*↳ On attribue une largeur proportionnelle à la hauteur*/
    height: 20vw;
    /*↳ On attribue une hauteur proportionnelle à la largeur*/
    border-radius: 50%;
    /*↳ On attribue un certain angle d'arrondissement pour avoir des bordures totalement rondes*/
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    /*↳ On attribue une ombre à l'image en ajoutant de la profondeur*/
    transition: all 0.3s ease-in-out;
    /*↳ On attribue une transition avec une latence d'exécution de cette transition*/
    border: #007bff double 8px;
    /*↳ On attribue un style de bordure spécifique à l'image*/
}

/*Survol de l'image de profil*/
#accueil #photo img:hover {
    transform: scale(1.05) rotate(360deg);
    /*↳ On effectue un zoom de 5% sur l'image et une rotation complète (360°)*/
    z-index: -1;
    /*↳ On recule l'image au plan -1 pour qu'elle soit toujours placée derrière la navbar*/
    box-shadow: 0 0 15px white;
    /*↳ On ajoute une ombre blanche autour de l'image*/
}

/*Paramètres globaux de la box avec le titre "À propos de moi"*/
#a-propos-de-moi {
    width: 80vw;
    /*↳ On met la largeur de la box à 80% de la largeur de l'écran*/
    margin: 2vw auto;
    /*↳ On met une marge verticale supérieure et inférieure égale et on centre horizontalement la box*/
    padding: 2vw;
    /*↳ On ajoute de l'espace interne autour du contenu de la box*/
    text-align: center;
    /*↳ On centre le texte interne de la box*/
    background-color: black;
    /*↳ On met le fond de la box en noir*/
    border-radius: 1vw;
    /*↳ On arrondit légèrement les coins de la box*/
    box-shadow: 0px 0px 20px black;
    /*↳ On ajoute une ombre à la box pour un effet de profondeur*/
    transition: all 0.5s ease-in-out;
    /*↳ On donne un temps de "latence" pour que la transition soit fluide*/
    animation: monterFlou 1s ease-out;
    /* ↳ On attribut une animation lors du lancement de la page*/
    font-size: 120%;
    /*↳ On met le texte contenu dans la box à 120% de sa taille initial*/
}

/*Paramètres du titre h2 de la box avec le titre "À propos de moi"*/
#a-propos-de-moi h2 {
    color: #007bff;
    /*↳ On utilise une couleur bleue pour le titre*/
}

/*Survol de la box avec le titre "À propos de moi"*/
#a-propos-de-moi:hover {
    transform: scale(1.05);
    /*↳ On effectue un zoom de 5% sur la box*/
    box-shadow: 0px 0px 20px #007bff;
    /*↳ On donne une ombre bleue à la box*/
}

/*Paramètre des sous-titres*/
#sous-titre{
    background-image: url('fondnoir.webp');
    /* ↳ On met un fond d'écran dans la box de sous-titre */
    border: #007bff solid;
    /* ↳ On paramètre les bordures de la box de sous-titre */
    padding: 1.5vw;
    /* ↳ On ajoute un écart interne entre le texte et le bord */
    border-radius: 100vw;
    /* ↳ On arrondit les bordures de la box */
    text-align: center;
    /*↳ On centre le texte contenu dans la box*/
    width: 70vw;
    /*↳ On initialise la largeur de la box*/
    justify-self: center;
    /*↳ On centre la box*/
    animation: monterFlou 1s ease-out;
    /*↳ On attribut une animation lors du lancement de la page*/
    transition: all 0.5s ease-in-out;
    /*↳ On paramètre la transition lors du survol de la box*/
}

/*Survol du sous titre*/
#sous-titre:hover{
    transform: scale(0.95);
    /*↳ On réduit légèrement la taille de la boîte du titre au survol*/
    color: red;
    /*↳ On met le texte en rouge au survol*/
}

/* Paramètres de la box englobant toutes les passions*/
#toutesLesPassions{
    display: flex;
    /* ↳ On rend les éléments flexibles*/
    align-items: center;
    /* ↳ On centre les éléments internes à la box*/
    flex-direction: row;
    /*↳ On met les éléments en ligne*/
    flex-wrap: wrap;
    /* ↳ On met toutes les box en ligne à la suite et non en ligne*/
    animation: monterFlou 1s ease-out;
    /* ↳ On attribut une animation lors du lancement de la page*/
}

/* Paramètres de chaque box correspondant à une passion*/
#toutesLesPassions #passionIndividuelle {
    display: flex;
    /* ↳ On rend les éléments internes à la box flexibles*/
    flex-direction: row;
    /* ↳ On met les éléments internes à la box en ligne et non en colonne*/
    align-items: center;
    /* ↳ On centre les éléments internes à la box à la verticale*/
    background-image: url('fondnoir.webp');
    /* ↳ On attribue un fond à la box*/
    padding: 1vw; 
    /* ↳ On met un écart interne entre les éléments de la box et les bords de la box*/
    border-radius: 0.8vw; 
    /* ↳ On arrondit les angles de la box*/
    width: 47vw;
    /* ↳ On initialise une largeur à la box*/
    margin: 1vw auto;
    /* ↳ On ajoute un écart en haut et en bas entre chaque box */
}

/* Paramètres de l'image présente dans chaque box*/
#toutesLesPassions #passionIndividuelle img {
    width: 26vw;
    /* ↳ On initialise la largeur de l'image */
    height: 17VW;
    /* ↳ On initialise la hauteur de l'image */
    border-radius: 0.4vw;
    /* ↳ On arrondit les angles de l'image*/
    transition: all 0.5s ease-in-out;
    /* ↳ On paramètre la transition lors du survol de l'image*/
}
#diapoVoyage{
    width: 26vw;
    /* ↳ On initialise la largeur de l'image */
    height: 17VW;
    /* ↳ On initialise la hauteur de l'image */
    animation:  10s infinite ease-in-out diapoVoyage;
    object-fit: cover;
}

/* Survol de l'image de la passion*/
#toutesLesPassions #passionIndividuelle img:hover {
    opacity: 0.8;
    /* ↳ On rend légèrement transparente l'image*/
    transform: scale(0.95) rotateY(360deg);
    /* ↳ On dézoom l'image à son échelle et on fait une rotation de l'image*/
    box-shadow: 0px 0px 20px #007bff;
    /*↳ On ajoute une ombre à l'image*/  
}

/* Paramètres du texte contenu dans la box*/
#toutesLesPassions #passionIndividuelle #texte-box {
    color: white;
    /*↳ On met le texte en blanc*/ 
    display: flex;
    /*↳ On rend les éléments flexibles*/ 
    flex-direction: column;
    /*↳ On met le texte en colonne et non en ligne à la suite*/ 
    margin: 0 2vw;
    /*↳ On ajoute une marge à gauche et à droite de la box*/ 
    font-size: large;
    /*↳ On modifie la taille du texte*/ 
    width: 50vw;
    /*↳ On modifie la largeur maximale de la box de texte*/ 
}

/* Paramètres des titres contenus dans la box*/
#toutesLesPassions #passionIndividuelle #texte-box h3{
    color:#007bff;
    /*↳ On met le titre en bleu*/ 
}

/*----------------*/
/*--PIED DE PAGE--*/
/*----------------*/

/* Pied de page paramètres globaux */
footer {
    background-color: rgb(0, 0, 0);
    /*↳ On met un fond de couleur pour le pied de page */
    color: white;
    /*↳ On attribue une couleur au texte */
    padding: 2vw;
    /*↳ On met un espace (horizontal et vertical) pour un espace plus aéré */
    text-align: center;
    /*↳ On centre le texte */
    max-width: 100vw;
    /*↳ On couvre toute la largeur (horizontal) du pied de page */
    margin-top: 2vw;
    /*↳ On met une marge supérieure pour espacer le footer du contenu de la page */
}

/* Pied de page paramètres liste réseaux sociaux (ul) */
footer #reseaux-sociaux {
    list-style: none;
    /*↳ On retire les puces de liste aux éléments de la liste des réseaux sociaux */
    padding: 0;
    /*↳ On retire l'indentation par défaut des listes */
    display: flex;
    /*↳ On rend les éléments de la liste flexibles pour une adaptation */
    justify-content: center;
    /*↳ On centre les éléments (réseaux sociaux) dans la box */
}

/* Pied de page paramètres éléments réseaux sociaux (li) */
footer #reseaux-sociaux li {
    margin-inline: 2vw;
    /*↳ On met un espace entre les différents éléments pour aérer la présentation */
}

/* Pied de page paramètres liens réseaux sociaux (a) */
footer #reseaux-sociaux a {
    color: #007bff;
    /*↳ On met les liens sociaux dans une couleur en particulier */
    text-decoration: none;
    /*↳ On désactive le soulignage par défaut des liens */
}

/* Pied de page paramètres liens réseaux sociaux (a) au survol */
#footer #reseaux-sociaux a:hover {
    text-decoration: underline;
    /*↳ On souligne les liens survolés */
}

@media only screen and (max-width: 950px) {

    /*Navbar de menu texte interne (liens vers autres pages)*/
    nav ul li a {
        margin: 1vw;
        /*↳ On ajoute une marge horizontale et verticale pour améliorer la visibilité des éléments*/
        background-color: #fff;
        /*↳ On met un fond blanc aux éléments pour donner un effet de bouton*/
        color: black;
        /*↳ On change la couleur du texte des liens en noir*/
        border-radius: 2vw;
        /*↳ On arrondit les bords des cases "boutons"*/
    }

    /*Navbar de menu éléments de liste*/
    nav li {
        margin: 0.5vw;
        /*↳ On ajoute une marge entre les éléments pour éviter un effet compact*/
    }

    /*Survol de tous les éléments*/
    *:hover {
        text-shadow: none;
        /*↳ On annule les animations d'ombre des textes*/
        transform: none;
        /*↳ On annule les animations de transformation (zoom)*/
    }

    /* Paramètres de style pour le titre principal*/
    #titre {
        display: none;
        /*↳ On masque le titre principal pour optimiser l'affichage sur les petits écrans*/
    }
    /* Paramètres de style pour le logo de retour en haut */
    #retourHaut{
        display: none;
    }
    /*Paramètres de la section accueil*/
    #accueil {
        margin-top: 35vw;
        /*↳ On ajoute une marge supérieure pour décaler le contenu en dessous de la navbar*/
        margin-inline: 5vw;
        /*↳ On resserre les marges latérales pour un affichage plus compact*/
    }

    /*Paramètres de la section accueil*/
    #accueil #photo img {
        width: 60vw;
        /*↳ On attribue une largeur adaptée à la taille de l'écran*/
        height: 60vw;
        /*↳ On ajuste la hauteur en proportion avec la largeur*/
    }

    /*Paramètres de la section "À propos de moi"*/
    #a-propos-de-moi {
        background-color: rgb(255, 255, 255);
        /*↳ On met un fond blanc à la box*/
        box-shadow: 0px 0px 20px #007bff;
        /*↳ On met une ombre bleue à la box*/
        color: black;
        /*↳ On change la couleur du texte en noir*/
        font-weight: bold;
        /*↳ On met le texte en gras*/
    }
    /* Paramètres de la box contenant toutes les box*/
    #toutesLesPassions{
        margin: 10vw 0 0 0;
        /*↳ On ajoute un écart en haut et en bas pour que la box principale ne soit pas sous la navbar et collée au footer*/
        flex-direction: column;
        /*↳ On met les passions à la suite en colonnes*/
    }
    
    /* Paramètres de chaque box correspondant à une passion*/
    #toutesLesPassions #passionIndividuelle {
        flex-direction: column;
        /* ↳ On met les éléments internes à la box en colonne et non en ligne*/
    }
    
    /* Paramètres de l'image présente dans chaque box*/
    #toutesLesPassions #passionIndividuelle img {
        width: 90vw;
        /* ↳ On initialise la largeur de l'image*/
        height: auto;
        /* ↳ On initialise la hauteur de l'image en automatique/adaptée*/
    }
    
    /* Paramètres des box ayant l'image à droite en mode non responsive*/
    #toutesLesPassions #passionIndividuelle.droiteImg{
        flex-direction: column-reverse;
        /* ↳ On place l'image en haut de sa box et non en bas après le texte*/
    }
    
    /* Paramètres du texte contenu dans la box*/
    #toutesLesPassions #passionIndividuelle #texte-box {
        width: 85vw;
        /* ↳ On initialise la largeur de la box de texte*/
        text-align: center;
        /* ↳ On aligne le texte au centre de la box*/
    }
}
