/*----------------------------------------*/
/*--Page des PROJETS du portfolio (CSS)--*/
/*----------------------------------------*/

/*Corps de la page et fond principal*/
body {
    font-family: 'Montserrat', sans-serif;
    /*↳ On initialise les polices d'écriture*/
    color: #fff;
    /*↳ On initialise la couleur d'écriture*/
    background: url('fondnoir.webp') no-repeat center center fixed;
    /*↳ On initialise le fond d'écran de la page*/
    background-size: cover;
    /*↳ On fait en sorte que le fond d'écran recouvre la totalité de la page*/
    margin: 0;
    /*↳ On fait en sorte que la page couvre tout l'écran*/
}

/*----------*/
/*--NAVBAR--*/
/*----------*/
/*Navbar de menu paramètres global*/
nav {
    display: flex;
    /*↳ On rend la barre de menu flexible et maniable*/
    justify-content: center;
    /*↳ On centre les éléments enfants présents dans la navbar (liste ul)*/
    background-color: rgb(0, 0, 0);
    /*↳ On met un fond noir à la navbar*/
    position: fixed;
    /*↳ On fixe la navbar pour pouvoir dérouler la page sans qu'elle ne bouge*/
    width: 100vw;
    /*↳ On couvre toute la largeur (horizontale) de la page avec la navbar*/
    top: 0;
    /*↳ On positionne la navbar au plus haut possible*/
    z-index: 1;
    /*↳ On positionne la navbar au premier plan*/
    border-bottom: white double;
    /*↳ On met une bordure inférieure double à la navbar*/
}

/*Navbar de menu ensemble de la liste interne (ul)*/
nav ul {
    display: flex;
    /*↳ On rend la liste de menu flexible et maniable*/
    list-style: none;
    /*↳ On retire les puces des éléments de la liste*/
    flex-wrap: wrap;
    /*↳ On fait en sorte que s'il n'y a plus de place, les éléments sautent une ligne*/
    padding-left: 0;
    /*↳ On retire l'indentation automatique de la liste*/
    justify-content: center;
    /*↳ On centre les éléments de la liste dans la liste elle-même (ul) (Utile pour responsive)*/
}

/*Navbar de menu texte interne (liens vers autres pages)*/
nav ul li a {
    color: white;
    /*↳ On change la couleur des textes (liens) en blanc pour éviter la configuration automatique de couleur des liens*/
    text-decoration: none;
    /*↳ On retire le soulignage*/
    font-weight: bold;
    /*↳ On met les liens en gras*/
    padding-inline: 1.5vw;
    /*↳ On met un écart horizontal entre les éléments*/
    transition: all 0.3s ease-in-out;
    /*↳ On paramètre l'animation et le temps d'exécution de celle-ci lors du survol des éléments*/
}

/*Navbar de menu lors du survol des éléments (liens) avec la souris*/
nav ul li a:hover {
    color: #007bff;
    /*↳ On met une couleur aux liens lors du survol de ceux-ci*/
}

/*--------------------*/
/*--CORPS DE LA PAGE--*/
/*--------------------*/

/* Paramétrage de l'effet de monter*/
@keyframes monterFlou {
    from {
        opacity: 0;
        transform: translateY(2vw);
    }
    to {
        opacity: 1;
        transform: translateY(0vw);
    }
}

/*Liens présents sur la page*/
#lien {
    transition: all 0.5s ease-in-out;
    /*↳ On donne un temps de "latence" pour que la transition se finalise*/
    color: #007bff;
    /*↳ On met les liens en blanc*/
    font-style: italic;
    /*↳ On met les liens en italique*/
    font-weight: bold;
    /*↳ On met les liens en gras*/
}

/*Survol des liens présents sur la page*/
#lien:hover {
    text-shadow: 2px 2px 2px white;
    /*↳ On donne un effet de profondeur avec des ombres aux liens survolés*/
}

/* Paramètres de style pour le titre principal */
#titre {
    background: linear-gradient(90deg, #000, #222);
    /* ↳ On applique un dégradé discret du noir au gris foncé pour donner de la profondeur au fond */
    padding: 1vw 2vw;
    /* ↳ On ajoute des marges internes équilibrées pour un espace bien défini autour du texte */
    font-size: 3vw;
    /* ↳ On ajuste la taille du texte pour s'adapter à la largeur de l'écran (responsive) */
    color: #007bff;
    /* ↳ On utilise un bleu vif pour mettre en avant le titre et attirer l'œil */
    text-shadow: 1px 1px 2px #fff, 0 0 5px #007bff;
    /* ↳ On ajoute une ombre blanche légère et un effet lumineux bleu pour une meilleure lisibilité */
    border: 2px solid #007bff;
    /* ↳ On encadre le texte avec une bordure fine de couleur bleue, assortie au texte */
    border-radius: 100vw;
    /* ↳ On adoucit légèrement les coins pour un aspect plus moderne et moins rigide */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    /* ↳ On ajoute une ombre discrète pour détacher le titre de l'arrière-plan */
    text-align: center;
    /* ↳ On centre le texte horizontalement pour une présentation harmonieuse */
    font-family: 'Arial', sans-serif;
    /* ↳ On utilise une police sobre et professionnelle pour garantir une lecture claire */
    margin: 5vw auto 2vw auto;
    /* ↳ On centre le titre avec une marge équilibrée tout autour pour un alignement parfait et on ajoute une marge supérieure et inférieure pour aéré*/
    max-width: 90%;
    /* ↳ On limite la largeur maximale du texte pour éviter les débordements sur les petits écrans */
    animation: monterFlou 1s ease-out;
    /* ↳ On attribut une animation lors du lancement de la page*/
}

/* Box de description de chaque projet (section) */
#boxglob {
    margin: 3vw auto;
    /* ↳ On centre horizontalement la box et on ajoute une marge supérieure et inférieure pour ne pas coller la box aux autres contenus */
    padding: 2vw;
    /* ↳ On ajoute un écart interne pour que le contenu ne soit pas collé au bord */
    text-align: center;
    /* ↳ On centre le texte contenu à l'intérieur de la box */
    background-color: black;
    /* ↳ On met une couleur de fond à la box */
    border-radius: 1vw;
    /* ↳ On arrondit les bords de la box */
    box-shadow: 0px 0px 20px black;
    /* ↳ On ajoute des ombres à la box */
    transition: all 0.5s ease-in-out;
    /* ↳ On paramètre les transitions */
    width: 80vw;
}

/* Paramètres du titre de la box */
#boxglob h2 {
    color: #007bff;
    /* ↳ On met le titre en bleu */
}

/* Survol de la box */
#boxglob:hover {
    transform: scale(1.05) rotateX(360deg);
    /* ↳ On effectue un zoom sur la box en l'agrandissant de 5% par rapport à son échelle */
    box-shadow: 0px 0px 20px #007bff;
    /* ↳ On ajoute une ombre à la box */
}

/* Paramètres des boxs de sous-titres (h3) */
#sous-titre {
    background-image: url('fondnoir.webp');
    /* ↳ On met un fond d'écran dans la box de sous-titre */
    border: #007bff solid;
    /* ↳ On paramètre les bordures de la box de sous-titre */
    padding: 1.5vw;
    /* ↳ On ajoute un écart interne entre le texte et le bord */
    border-radius: 100vw;
    /* ↳ On arrondit les bordures de la box */
    text-align: center;
    width: 70vw;
    justify-self: center;
    animation: monterFlou 1s ease-out;
    transition: all 0.5s ease-in-out;
}
#sous-titre:hover{
    transform: scale(0.95);
    /*↳ On réduit légèrement la taille de la boîte du titre au survol*/
    color: red;
    /*↳ On met le texte en rouge au survol*/
}
/* Paramètres de la box globale de tous les types de projets */
#projets {
    display: flex;
    /* ↳ On rend les éléments enfants flexibles */
    text-align: center;
    /* ↳ On centre le texte et les liens ('a') */
    flex-direction: column;
    /* ↳ On aligne les éléments en colonne */
    justify-content: center;
    justify-self: center;
    animation: monterFlou 1s ease-out;
}

/* Paramètres de la vidéo Thom Patiss tournant en boucle */
#projets video {
    width: 80vw;
    /* ↳ On initialise la largeur de la vidéo */
    border: black solid 1vw;
    /* ↳ On ajoute une bordure autour de la vidéo */
    border-radius: 5vw;
    /* ↳ On arrondit les bords de la vidéo */
    box-shadow: 0px 0px 20px white;
    /* ↳ On ajoute une ombre à la vidéo */
    transition: all ease-in-out 1s;
    /* ↳ On paramètre les transitions */
}

/* Survol de la vidéo Thom Patiss tournant en boucle */
#projets video:hover {
    border: #007bff6e solid 1vw;
    /* ↳ On ajoute une bordure différente */
    opacity: 0.6;
    /* ↳ On ajoute une transparence */
    transform: scale(0.9);
    /* ↳ On réduit la taille à l'échelle de la vidéo */
    box-shadow: 0px 0px 50px #007bff;
    /* ↳ On ajoute une ombre à la vidéo */
}


/*----------------*/
/*----------------*/
/*--PIED DE PAGE--*/
/*----------------*/

/* Pied de page paramètres globaux */
footer {
    background-color: rgb(0, 0, 0);
    /*↳ On met un fond de couleur pour le pied de page */
    color: white;
    /*↳ On attribue une couleur au texte */
    padding: 2vw;
    /*↳ On met un espace (horizontal et vertical) pour un espace plus aéré */
    text-align: center;
    /*↳ On centre le texte */
    max-width: 100vw;
    /*↳ On couvre toute la largeur (horizontal) du pied de page */
    margin-top: 2vw;
    /*↳ On met une marge supérieure pour espacer le footer du contenu de la page */
}

/* Pied de page paramètres liste réseaux sociaux (ul) */
footer #reseaux-sociaux {
    list-style: none;
    /*↳ On retire les puces de liste aux éléments de la liste des réseaux sociaux */
    padding: 0;
    /*↳ On retire l'indentation par défaut des listes */
    display: flex;
    /*↳ On rend les éléments de la liste flexibles pour une adaptation */
    justify-content: center;
    /*↳ On centre les éléments (réseaux sociaux) dans la box */
}

/* Pied de page paramètres éléments réseaux sociaux (li) */
footer #reseaux-sociaux li {
    margin-inline: 2vw;
    /*↳ On met un espace entre les différents éléments pour aérer la présentation */
}

/* Pied de page paramètres liens réseaux sociaux (a) */
footer #reseaux-sociaux a {
    color: #007bff;
    /*↳ On met les liens sociaux dans une couleur en particulier */
    text-decoration: none;
    /*↳ On désactive le soulignage par défaut des liens */
}

/* Pied de page paramètres liens réseaux sociaux (a) au survol */
#footer #reseaux-sociaux a:hover {
    text-decoration: underline;
    /*↳ On souligne les liens survolés */
}

@media only screen and (max-width: 950px) {

    /* Navbar de menu texte interne (liens vers autres pages) */
    nav ul li a {
        margin: 1vw;
        /* ↳ On met une marge (horizontale et verticale) plus grande pour améliorer la visibilité des éléments */
        background-color: #fff;
        /* ↳ On met un fond de couleur aux éléments pour un effet de bouton */
        color: black;
        /* ↳ On met une couleur aux liens */
        border-radius: 2vw;
        /* ↳ On arrondit les coins des cases "bouton" */
    }

    /* Navbar de menu éléments de liste */
    nav li {
        margin: 0.5vw;
        /* ↳ On met une marge (horizontale et verticale) entre les éléments pour une navbar moins "compactée" */
    }

    /* Survol de tous les éléments */
    *:hover {
        text-shadow: none;
        /* ↳ On annule les animations de contour de textes */
        transform: none;
        /* ↳ On annule les animations de transformation (zoom) */
    }

    /* Paramètres de style pour le titre principal */
    #titre {
        display: none;
    }
    /* Paramètres de style pour le logo de retour en haut */
    #retourHaut{
        display: none;
    }
    /* Paramètres de la box globale de tous les types de projets */
    #projets {
        margin-top: 27vw;
        /* ↳ On ajoute une marge supérieure pour ne pas avoir le contenu de la page derrière la barre de menu et tout en haut de la page */
    }

    /* Box de description de chaque projet (section) */
    #boxglob {
        background-image: url(fondnoir.webp);
        /* ↳ On ajoute une image de fond à la box */
    }
}