/*-----------------------------------------*/
/*--Page de SCOLARITE du portfolio (CSS)--*/
/*-----------------------------------------*/

/*Corps de la page et fond principal*/
body {
    font-family: 'Montserrat', sans-serif;
    /*↳ On initialise les polices d'écriture*/
    color: #fff;
    /*↳ On initialise la couleur d'écriture*/
    background: url('fondnoir.webp') no-repeat center center fixed;
    /*↳ On initialise le fond d'écran de la page*/
    background-size: cover;
    /*↳ On fait en sorte que le fond d'écran recouvre la totalité de la page*/
    margin: 0;
    /*↳ On fait en sorte que la page couvre tout l'écran*/
}

/*----------*/
/*--NAVBAR--*/
/*----------*/
/*Navbar de menu paramètres globaux*/
nav {
    display: flex;
    /*↳ On rend la barre de menu flexible et maniable*/
    justify-content: center;
    /*↳ On centre les éléments enfants présents dans la navbar (liste ul)*/
    background-color: rgb(0, 0, 0);
    /*↳ On met un fond noir à la navbar*/
    position: fixed;
    /*↳ On fixe la navbar pour pouvoir dérouler la page sans qu'elle ne bouge*/
    width: 100vw;
    /*↳ On couvre toute la largeur (horizontale) de la page avec la navbar*/
    top: 0;
    /*↳ On positionne la navbar au plus haut possible*/
    z-index: 1;
    /*↳ On positionne la navbar au premier plan*/
    border-bottom: white double;
    /*↳ On met une bordure inférieure double à la navbar*/
}

/*Navbar de menu ensemble de la liste interne (ul)*/
nav ul {
    display: flex;
    /*↳ On rend la liste de menu flexible et maniable*/
    list-style: none;
    /*↳ On retire les puces des éléments de la liste*/
    flex-wrap: wrap;
    /*↳ On fait en sorte que, s'il n'y a plus de place, les éléments sautent une ligne*/
    padding-left: 0;
    /*↳ On retire l'indentation automatique de la liste*/
    justify-content: center;
    /*↳ On centre les éléments de la liste dans la liste elle-même (ul) (Utile pour responsive)*/
}

/*Navbar de menu texte interne (liens vers autres pages)*/
nav ul li a {
    color: white;
    /*↳ On change la couleur des textes (liens) en blanc pour éviter la configuration automatique de couleur des liens*/
    text-decoration: none;
    /*↳ On retire le soulignage*/
    font-weight: bold;
    /*↳ On met les liens en gras*/
    padding-inline: 1.5vw;
    /*↳ On met un écart horizontal entre les éléments*/
    transition: all 0.3s ease-in-out;
    /*↳ On paramètre l'animation et le temps d'exécution de celle-ci lors du survol des éléments*/
}

/*Navbar de menu lors du survol des éléments (liens) avec la souris*/
nav ul li a:hover {
    color: #007bff;
    /*↳ On met une couleur aux liens lors du survol de ceux-ci*/
}

/*--------------------*/
/*--CORPS DE LA PAGE--*/
/*--------------------*/

/* Paramétrage de l'effet de monter*/
@keyframes monterFlou {
    from {
        opacity: 0;
        transform: translateY(2vw);
    }
    to {
        opacity: 1;
        transform: translateY(0vw);
    }
}
/* Paramètres de style pour le titre principal */
#titre {
    background: linear-gradient(90deg, #000, #222);
    /* ↳ On applique un dégradé discret du noir au gris foncé pour donner de la profondeur au fond */
    padding: 1vw 2vw;
    /* ↳ On ajoute des marges internes équilibrées pour un espace bien défini autour du texte */
    font-size: 3vw;
    /* ↳ On ajuste la taille du texte pour s'adapter à la largeur de l'écran (responsive) */
    color: #007bff;
    /* ↳ On utilise un bleu vif pour mettre en avant le titre et attirer l'œil */
    text-shadow: 1px 1px 2px #fff, 0 0 5px #007bff;
    /* ↳ On ajoute une ombre blanche légère et un effet lumineux bleu pour une meilleure lisibilité */
    border: 2px solid #007bff;
    /* ↳ On encadre le texte avec une bordure fine de couleur bleue, assortie au texte */
    border-radius: 100vw;
    /* ↳ On adoucit légèrement les coins pour un aspect plus moderne et moins rigide */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    /* ↳ On ajoute une ombre discrète pour détacher le titre de l'arrière-plan */
    text-align: center;
    /* ↳ On centre le texte horizontalement pour une présentation harmonieuse */
    font-family: 'Arial', sans-serif;
    /* ↳ On utilise une police sobre et professionnelle pour garantir une lecture claire */
    margin: 5vw auto 2vw auto;
    /* ↳ On centre le titre avec une marge équilibrée tout autour pour un alignement parfait et on ajoute une marge supérieure et inférieure pour aéré*/
    max-width: 90%;
    /* ↳ On limite la largeur maximale du texte pour éviter les débordements sur les petits écrans */
    animation: monterFlou 1s ease-out;
    /* ↳ On attribut une animation lors du lancement de la page*/
}

/* Paramètres de la box contenant les infos de l'expérience */
#boxglob {
    width: 80vw;
    /* ↳ On initialise la largeur de la box */
    margin: auto;
    /* ↳ On centre la box */
    padding: 40px;
    /* ↳ On ajoute un écart interne entre le contenu de la box et son contenu */
    text-align: center;
    /* ↳ On centre le texte et les liens (a) dans la box à l'horizontale */
    background-image: url('fondnoir.webp');
    /* ↳ On attribue un fond à la box */
    border-radius: 10px;
    /* ↳ On arrondit les bords de la box */
    box-shadow: 0px 0px 20px black;
    /* ↳ On ajoute des ombres aux côtés de la box */
    flex-direction: row;
    /* ↳ On paramètre les éléments de la box pour qu'ils soient tous en ligne dans la box */
    display: flex;
    /* ↳ On rend la box flexible */
    justify-content: space-between;
    /* ↳ On met un espace entre chaque éléments identique */
    align-items: center;
    /* ↳ On centre les éléments dans la box à la verticale */
    transition: all 0.5s ease-in-out;
    /* ↳ On paramètre la transition lors du survol */
    animation: monterFlou 1s ease-out;
}

/* Paramètres des titres contenus dans la box (nom du lieu de l'expérience) */
#boxglob h2 {
    color: #007bff;
    /* ↳ On met les titres en bleu */
    text-align: left;
    /* ↳ On aligne le texte à gauche de la box pour que lors du retour à la ligne on ait le texte à gauche */
}

/* Paramètres des sous-titres sur les informations de l'expérience en question */
#boxglob h3 {
    color: red;
    /* ↳ On met les sous-titres en rouge */
    text-decoration: underline;
    /* ↳ On souligne les sous-titres */
    text-align: right;
    /* ↳ On aligne le texte sur la droite */
    border-right: solid rgb(255, 255, 255);
    /* ↳ On paramètre la bordure de droite */
    padding-right: 1vw;
    /* ↳ On met un écart entre la bordure et le texte */
}

/* Paramètres du texte en p contenu dans la box */
#boxglob p {
    text-align: left;
    /* ↳ On aligne le texte à gauche pour que lors du retour à la ligne le texte soit du côté de la bordure droite du sous-titre */
}

/* Paramètres du texte en p et des sous-titres en h3 */
#boxglob h3,
#boxglob p {
    display: flex;
    /* ↳ On rend les éléments flexibles */
    flex-wrap: wrap;
    /* ↳ On fait en sorte que, en cas de réduction de la fenêtre, le texte des box aille à la ligne */
    margin-inline: 0.5vw;
    /* ↳ On ajoute une marge entre les différents éléments pour éviter que ceux-ci soient collés */
}

/* Survol de la box */
#boxglob:hover {
    transform: scale(1.05) rotateX(360deg);
    /* ↳ On effectue un zoom au niveau de l'échelle de la box et on fait tourner la box sur elle-même de 360° à la verticale */
    box-shadow: 0px 0px 20px #007bff;
    /* ↳ On ajoute une ombre à la box */    
}
@keyframes FlouLiens{
    0%{
        color: #007bff;
    }
    50%{
        color: #007bff75;
    }
    100%{
        color: #007bff;
    }
}
/* Liens présents sur la page */
#liens_etablissement {
    transition: all 1s ease-in-out;
    /* ↳ On donne un temps de "latence" pour que la transition se finalise */
    animation: infinite FlouLiens 2s;
}

/* Survol des liens présents sur la page */
#liens_etablissement:hover {
    text-shadow: 2px 2px 2px white;
    /* ↳ On donne un effet de profondeur avec des ombres aux liens survolés */
}

/* Séparation des différentes box pour un effet de chronologie */
#separation {
    border-right: solid rgb(255, 255, 255) 10px;
    /* ↳ On ajoute une bordure droite pour un effet de trait */
    width: 50vw;
    /* ↳ On met la largeur à 50%, c'est-à-dire à la moitié de la largeur de la page pour que ce soit centré sur la page */
    padding: 3vw 0;
    /* ↳ On ajoute du padding à la verticale pour élargir la taille de la bordure */
    animation: monterFlou 1s ease-out;
}
#noteHorsCadre{
    text-align: center;
    justify-self: center;
    background-image:url(fondnoir.webp);
    border: #ffffff solid;
    width: 40vw;
    padding: 0.6vw;
    border-radius: 0 0 20vw 20vw;
    animation: monterFlou 1s ease-out;
}
#noteHorsCadre a{
    text-decoration: none;
    color: #007bff;
    font-style: italic;
}
/*----------------*/
/*--PIED DE PAGE--*/
/*----------------*/

/* Pied de page paramètres globaux */
footer {
    background-color: rgb(0, 0, 0);
    /*↳ On met un fond de couleur pour le pied de page */
    color: white;
    /*↳ On attribue une couleur au texte */
    padding: 2vw;
    /*↳ On met un espace (horizontal et vertical) pour un espace plus aéré */
    text-align: center;
    /*↳ On centre le texte */
    max-width: 100vw;
    /*↳ On couvre toute la largeur (horizontal) du pied de page */
    margin-top: 2vw;
    /*↳ On met une marge supérieure pour espacer le footer du contenu de la page */
}

/* Pied de page paramètres liste réseaux sociaux (ul) */
footer #reseaux-sociaux {
    list-style: none;
    /*↳ On retire les puces de liste aux éléments de la liste des réseaux sociaux */
    padding: 0;
    /*↳ On retire l'indentation par défaut des listes */
    display: flex;
    /*↳ On rend les éléments de la liste flexibles pour une adaptation */
    justify-content: center;
    /*↳ On centre les éléments (réseaux sociaux) dans la box */
}

/* Pied de page paramètres éléments réseaux sociaux (li) */
footer #reseaux-sociaux li {
    margin-inline: 2vw;
    /*↳ On met un espace entre les différents éléments pour aérer la présentation */
}

/* Pied de page paramètres liens réseaux sociaux (a) */
footer #reseaux-sociaux a {
    color: #007bff;
    /*↳ On met les liens sociaux dans une couleur en particulier */
    text-decoration: none;
    /*↳ On désactive le soulignage par défaut des liens */
}

/* Pied de page paramètres liens réseaux sociaux (a) au survol */
#footer #reseaux-sociaux a:hover {
    text-decoration: underline;
    /*↳ On souligne les liens survolés */
}

@media only screen and (max-width: 950px){
    
    /* Navbar de menu texte interne (liens vers autres pages) */
    nav ul li a {
        margin: 1vw;
        /* ↳ On met une marge (horizontal et vertical) plus grande pour améliorer la visibilité des éléments */
        background-color: #fff;
        /* ↳ On met un fond de couleur aux éléments pour un effet de bouton */
        color: black;
        /* ↳ On met une couleur aux liens */
        border-radius: 2vw;
        /* ↳ On met un arrondi des cases "bouton" */
    }

    /* Navbar de menu éléments de liste */
    nav li {
        margin: 0.5vw;
        /* ↳ On met une marge (horizontal et vertical) entre les éléments pour une navbar moins "compactée" */
    }

    /* Survol de tous les éléments */
    *:hover {
        text-shadow: none;
        /* ↳ On annule les animations de contour de textes */
        transform: none;
        /* ↳ On annule les animations de transformation (zoom) */
    }

    /* Paramètres de style pour le titre principal */
    #titre {
        display: none;
        /* ↳ On supprime le titre principal */
    }
    /* Paramètres de style pour le logo de retour en haut */
    #retourHaut{
        display: none;
    }
    /* Paramètres de la section d'expérience tout en haut de la page */
    #bts-sio {
        margin-top: 35vw;
        /* ↳ On ajoute une marge supérieure pour avoir un écart entre la navbar et le reste de la page */
    }

    /* Paramètres de la box contenant les infos de l'expérience */
    #boxglob {
        flex-direction: column;
        /* ↳ On aligne les éléments internes à la verticale (en colonne) */
        width: 70vw;
        /* ↳ On initialise la largeur de la box */
        box-shadow: 0px 0px 20px #007bff;
        /* ↳ On ajoute une ombre bleue à la box */
    }

    /* Paramètres des sous-titres sur les informations de l'expérience en question */
    #boxglob h3 {
        border-right: none;
        /* ↳ On retire la bordure présente en mode non responsive */
    }

    /* Paramètres du texte en p contenu dans la box */
    #boxglob p {
        text-align: center;
        /* ↳ On centre le texte de type p dans la box */
    }

    /* Paramètres du texte en p et des sous-titres en h3 */
    #boxglob h3,
    #boxglob p {
        flex-direction: column;
        /* ↳ On met le texte interne sous titre et texte p en colonne (à la verticale) */
    }
    #noteHorsCadre{
        width: 70vw;

    }
}