/*---------*/
/*KEYFRAMES*/
/*---------*/
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/*----------------*/
/*TOUTES LES PAGES*/
/*----------------*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #3e4d6e;
}

::-webkit-scrollbar-thumb {
    background: white;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #071530;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: slideUp 1s ease-in-out 1s forwards;
}


.loader img {
    width: 20vw;
    height: auto;
    animation: slideIn 1s ease-in-out;
    filter: invert(1);
}

body {
    margin: 0;
    background-image: url("Images/photoAccueil.jpg");
    background-size: 100vw 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;
}


p:hover {
    text-shadow: 20px 0px 20px rgb(255, 255, 255);
}

p {
    transition: text-shadow ease 0.5s;
}

nav {
    position: fixed;
    width: 20vw;
    height: 100vh;
    background-color: #071530;
    box-shadow: #071530 0vw 20vw 20vw 0vw;
    z-index: 2;
    padding: 1vh 1vw;
    display: flex;
    flex-direction: column;
}

nav img {
    height: 40vh;
    width: 100%;
    filter: invert(1);
}
nav > a{
    padding: 0;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    padding: 0;
    width: 100%;
    height: 54vh;
    margin: 2vh 0;
    justify-content: space-around;
    text-align: center;
}

nav ul li {
    display: flex;
    align-content: center;
    justify-content: center;
}

nav ul li a:hover {
    background-color: #3e4d6e;
    transform: rotate(2deg) scale(0.95);
    color: white;
}

nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #071530;
    width: 100%;
    padding: 1vh 0;
    font-size: 1vw;
    border-radius: 50vw;
    background-color: white;
    transition: background-color ease 0.5s, transform ease 0.5s, color ease 0.5s;
}

#droitePage {
    width: 78vw;
    height: 100vh;
    margin-left: 22vw;
    overflow-y: auto;
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/*-------*/
/*ACCUEIL*/
/*-------*/
#nomAccueilBienvenue {
    margin: 35vh 0 50vh 0;
    z-index: 3;
    padding-left: 5vw;

}

#nomAccueilBienvenue ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 1vh 0;
}

#nomAccueilBienvenue ul>li {
    margin-right: 2vw;
}

#nomAccueilBienvenue ul li a {
    display: flex;
}

#nomAccueilBienvenue ul li img {
    width: 2vw;
    filter: invert(1);
}

#nomAccueilBienvenue h2 {
    margin: 0;
    font-size: 1.3vw;
}

#nomAccueilBienvenue h1 {
    font-size: 4.5vw;
    margin: 0;
    font-weight: bolder;
    font-style: oblique;
    color: #071530;
    font-family: initial;
}

#nomAccueilBienvenue button {
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 1vh 1vw;
    font-size: 1vw;
    border-radius: 50vw;
    border: solid white;
    background-color: #071530;
    transition: background-color ease 0.5s, transform ease 0.5s, color ease 0.5s;
    cursor: pointer;
}

#nomAccueilBienvenue button:hover {
    background-color: white;
    transform: rotate(2deg) scale(0.95);
    color: #3e4d6e;
}

footer {
    background-color: #071530;
    color: white;
    text-align: center;
    padding: 7vh 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1vw;
}

.footer-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.footer-links li a:hover {
    color: #3e4d6e;
}

.social-icons {
    display: flex;
    gap: 1vw;
}

.social-icons a {
    color: white;
    font-size: 2vw;
    transition: transform 0.3s, box-shadow 0.3s;
}

.social-icons a:hover {
    transform: translateY(-3px);
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.2);
}

/*-------------------------*/
/*TOUTES PAGES SAUF ACCUEIL*/
/*-------------------------*/
#presentationPersonnel,
#parcoursScolaire,
#certifDiplomes,
#expPro,
#competences,
#projets {
    width: 100%;
    background-color: #071530b9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 0;
}

#parcoursScolaire > h2,
#presentationPersonnel > h2,
#certifDiplomes > h2,
#expPro > h2,
#competences > h2,
#projets > h2 {
    color: white;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2rem;
}
#parcoursScolaire > p,
#presentationPersonnel p,
#certifDiplomes > p,
#expPro > p {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 1vw 2vw;
}
#presentationPersonnel > h3,
#certifDiplomes > h3 {
    text-align: center;
    color: white;
    text-transform: uppercase;
}
#presentationPersonnel h4{
    text-align: center;
    color: white;
    text-transform: uppercase;
}
/*---------------*/
/*A PROPOS DE MOI*/
/*---------------*/

#imageProfil {
    width: 15rem;
    border-radius: 100%;
    border: solid white;
}

#listeCIUl {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 3vh 1vw;
    gap: 3vh;
}

#listeCIUl li {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

#listeCIUl li.inverse {
    flex-direction: row-reverse;
}

#listeCIUl li.inverse div h4,
#listeCIUl li.inverse div p {
    text-align: right;
    padding-right: 2vw;
    margin: 1vh 0;
}

#listeCIUl li img {
    width: 40%;
    border: solid white;
    aspect-ratio: 16/9;
}

#listeCIUl li div {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

#listeCIUl li div h4,
#listeCIUl li div p {
    text-align: left;
    padding-left: 2vw;
    margin: 1vh 0;
}

/*-------------------------------------------------*/
/*MON PARCOURS ET MES CERTIF ET DIPLOMES ET EXP PRO*/
/*-------------------------------------------------*/
#tampon{
    position: absolute;
    width: 15%;
    left: 4%;
    top: 10%;
    transform: rotate(-20deg);
    background: none;
    border-top: none;
    border-bottom: none;
}
#certifsDiplomesBlocBas{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
#certifs{
    width: 45%;
    text-align: center;
    color: white;
}
#diplomes{
    width: 45%;
    text-align: center;
    color: white;
}
.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}
.timeline::before {
    content: "";
    position: absolute;
    width: 4px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.event {
    background: white;
    padding: 0.5vw;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 70rem;
    max-width: 95%;
    margin-top: 6vh;
    position: relative;
    text-align: center;
    z-index: 2;
}
.event ul{
    background-color: #3e4d6e;
    margin: 0;
    text-align: left;
    padding: 1vh 2vw;
}
.event h3 {
    background-color: #071530;
    color: rgb(138, 0, 0);
    padding: 0.5vw;
    margin: 0;
    border-radius: 5px 5px 0 0;
}
.event h4 {
    padding: 1vh;
    margin: 0;
    background: #3e4d6e;
    color: white;
    font-size: 1.3rem;
}
.event p {
    padding: 1vw;
    margin: 0;
    background: #3e4d6e;
    color: white;
}
.event #boxButtonChrono{
    background-color: #3e4d6e;
}
.event button{
    font-weight: bold;
    text-decoration: none;
    color: #071530;
    width: 80%;
    padding: 1rem 0;
    font-size: 1rem;
    border-radius: 50vw;
    background-color: white;
    transition: background-color ease 0.5s, transform ease 0.5s, color ease 0.5s;
    margin: 2vh 0;
    cursor: pointer;
}
.event button:hover{
    background-color: #071530;
    transform: scale(0.95);
    color: white;
}
.event::before {
    content: "";
    position: absolute;
    width: 1vw;
    height: 1vw;
    background-color: transparent;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

/*-----------*/
/*COMPETENCES*/
/*-----------*/
#competences h4 {
    text-align: center;
    color: black;
    text-transform: uppercase;
    background-color: white;
    padding: 1vh 0;
    width: 100%;
    border-radius: 0 0 2vw 2vw;
    border: solid #071530;
    font-weight: bold;
}
#competences h3 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    background-color: #3e4d6e;
    padding: 2vh 0;
    border-top: solid white;
    border-bottom: solid white;
    width: 100%;
}
#competences section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}
#competences ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    padding: 0;
}
#competences ul li{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}
progress {
    display: flex;
    width: 15vw;
    margin: 1vw auto;
    border-radius: 14px;
    background-color: white;
}

progress::-webkit-progress-bar {
    background-color: white;
    border-radius: 0.9vw;
}


progress::-webkit-progress-value {
    background-color: #071530;
    border-radius: 0.9vw;
    transition: background-color 0.3s ease;
}

progress::-moz-progress-bar {
    background-color: #071530;
    border-radius: 0.9vw;
    transition: background-color 0.3s ease;
}

progress:hover::-webkit-progress-value {
    background-color: #3e4d6e;
}

progress:hover::-moz-progress-bar {
    background-color: #3e4d6e;
}
#logiciels img{
    height: 5rem;
    filter:contrast(1.5);
}